.project
.sass-cache/
.DS_Store
lib-cov
pids
logs
results
_dev
/server/lambdas/
/config/secrets.js
/coverage/
/artwork/
/node_modules/
/bower_components
/lambdas/*/dist/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
**/secrets.js
**/*.zip

npm-debug.log
node_modules
server_old
